.lock-container{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(180deg,#1b1b3a,#2d2d5a);
  font-family:Arial, Helvetica, sans-serif;
  padding:20px;
}

/* TITLE */

.title{
  color:#c7a6ff;
  margin-bottom:10px;
  text-shadow:0 0 12px rgba(199,166,255,0.6);
  text-align:center;
}

/* HINT */

.hint{
  color:#dcd6ff;
  margin-bottom:20px;
  font-size:14px;
  opacity:0.9;
  text-align:center;
}

/* DISPLAY */

/* .display-container{
  position:relative;
  width:220px;
  margin-bottom:30px;
} */

.display-container{
  position:relative;
  width:100%;
  max-width:310px;   /* same width as keypad */
  margin-bottom:30px;
}


/* .display{
  width:220px;
  height:55px;
  background:#3b3b70;
  border-radius:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:26px;
  color:white;
  margin-bottom:30px;
  letter-spacing:6px;
  box-shadow:0 6px 20px rgba(0,0,0,0.4);
} */

.display{
  width:100%;
  height:60px;
  background:#3b3b70;
  border-radius:14px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  color:white;
  letter-spacing:8px;
  box-shadow:0 6px 20px rgba(0,0,0,0.4);
}

/* KEYPAD */

.keypad{
  display:grid;
  grid-template-columns:repeat(3,90px);
  gap:18px;
}


/* BUTTONS */

.keypad button{
  height:75px;
  border:none;
  border-radius:14px;
  font-size:22px;
  font-weight:bold;
  cursor:pointer;
  background:#3b3b70;
  color:white;
  box-shadow:0 6px 15px rgba(0,0,0,0.35);
  transition:all .2s;
}

.keypad button:hover{
  background:#5b5ba3;
  transform:scale(1.08);
}

/* ENTER BUTTON */

/* .enter-btn{
  background:linear-gradient(45deg,#8f7bff,#b29cff);
} */

/* .enter-btn{
  position:absolute;
  right:6px;
  top:50%;
  transform:translateY(-50%);
  height:44px;
  width:44px;
  border:none;
  border-radius:10px;
  font-size:20px;
  cursor:pointer;
  background:linear-gradient(45deg,#8f7bff,#b29cff);
  color:white;
  box-shadow:0 4px 12px rgba(0,0,0,0.3);
} */

.enter-btn{
  position:absolute;
  right:6px;
  top:50%;
  transform:translateY(-50%);
  height:46px;
  width:50px;
  border:none;
  border-radius:10px;
  font-size:22px;
  cursor:pointer;
  background:linear-gradient(45deg,#8f7bff,#b29cff);
  color:white;
}

.enter-btn:hover{
  transform:translateY(-50%) scale(1.08);
}
/* BACKSPACE */

.back-btn{
  background:#5b5ba3;
}

/* MOBILE RESPONSIVE */

@media (max-width:600px){

  .display-container{
    width:90%;
    max-width:280px;
  }

  .display{
    width:100%;
    height:50px;
    font-size:22px;
    padding-right:50px; /* space for ✔ */
  }

  .enter-btn{
    height:42px;
    width:42px;
    font-size:18px;
  }

  .keypad{
    width:90%;
    max-width:280px;
    grid-template-columns:repeat(3,1fr);
    gap:12px;
  }

  .keypad button{
    height:60px;
    font-size:18px;
  }

}