.birthday-container{
  min-height:100vh;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#ff9a9e,#fad0c4);
  padding:20px;
  box-sizing:border-box;
  overflow:hidden;
  font-family:Arial, Helvetica, sans-serif;
}

.wrapper{
  width:100%;
  max-width:520px;
}

.envelope{
  width:100%;
  background:#f06575;
  border-radius:6px;
  position:relative;
  box-shadow:0 20px 40px rgba(0,0,0,0.25);
  overflow:hidden;
}

.flap{
  width:100%;
  height:350px;
  background:#e05263;
  clip-path:polygon(0 0,100% 0,50% 100%);
  transform-origin:top;
  transition:transform .8s ease;
  position:absolute;
  top:0;
  left:0;
  z-index:5;
}

.letter{
  background:white;
  width:90%;
  margin:0 auto;
  margin-top:40px;
  padding:25px;
  border-radius:6px;
  text-align:center;
  transform:translateY(120%);
  transition:transform 1s ease;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.envelope.open .flap{
  transform:rotateX(180deg);
}

.envelope.open .letter{
  transform:translateY(-20px);
}

.title{
  font-size:24px;
  color:#ff4d6d;
}

.message{
  font-size:15px;
  line-height:1.6;
  margin-top:10px;
}

.memory-btn{
  margin-top:18px;
  padding:10px 22px;
  border:none;
  border-radius:6px;
  background:#ff4d6d;
  color:white;
  cursor:pointer;
}

.open-btn{
  margin-top:30px;
  padding:12px 26px;
  border:none;
  border-radius:6px;
  background:#ff4d6d;
  color:white;
  font-size:16px;
  cursor:pointer;
}

/* balloons */

.balloons span{
  position:absolute;
  bottom:-80px;
  font-size:32px;
  animation:balloonFloat 9s linear infinite;
}

.balloons span:nth-child(1){left:10%}
.balloons span:nth-child(2){left:35%;animation-duration:7s}
.balloons span:nth-child(3){left:60%;animation-duration:8s}
.balloons span:nth-child(4){left:85%;animation-duration:6s}

@keyframes balloonFloat{
  from{transform:translateY(0)}
  to{transform:translateY(-110vh)}
}

/* hearts */

.hearts span{
  position:absolute;
  bottom:-80px;
  font-size:22px;
  animation:heartFloat 7s linear infinite;
}

.hearts span:nth-child(1){left:25%}
.hearts span:nth-child(2){left:50%}
.hearts span:nth-child(3){left:75%}


@keyframes heartFloat{
  from{transform:translateY(0);opacity:1}
  to{transform:translateY(-110vh);opacity:0}
}
.party span{
  position:absolute;
  bottom:-80px;
  font-size:28px;
  animation:partyFloat 8s linear infinite;
}

.party span:nth-child(1){left:15%}
.party span:nth-child(2){left:45%; animation-duration:6s}
.party span:nth-child(3){left:70%; animation-duration:7s}
.party span:nth-child(4){left:90%; animation-duration:9s}

@keyframes partyFloat{
  from{
    transform:translateY(0) rotate(0deg);
    opacity:1;
  }
  to{
    transform:translateY(-110vh) rotate(360deg);
    opacity:0;
  }
}