<div class="birthday-container">
<!-- <h2 class="page-title">A Veryyy Happyyyy Birthdayyyy To Youuuuuuu 🎉</h2  > -->
  <!-- floating balloons -->
    <p  *ngIf="!isOpen" class="hint-text">
    A little surprise is waiting for you ✨
  </p>
  <div class="balloons">
    <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
     <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
     <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
  </div>

  <!-- floating hearts -->
  <div class="hearts">
    <span>❤️</span>
    <span>❤️</span>
    <span>❤️</span>
      <span>❤️</span>
    <span>❤️</span>
    <span>❤️</span>
      <span>❤️</span>
    <span>❤️</span>
    <span>❤️</span>
  </div>

  <!-- floating party poppers -->
  <!-- <div class="party">
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
  </div> -->
  <!-- <div class="sparkles">
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
</div> -->

<div class="cakes">
  <!-- <span>🎂</span>
  <span>🎂</span>
   <span>🎂</span>
  <span>🎂</span>
   <span>🎂</span>
  <span>🎂</span> -->
</div>


  <div class="wrapper">
   

    <div class="envelope" [class.open]="isOpen">

      <div class="flap"></div>

      <div class="letter">

        <h1 class="title">
          🎂 Happyyyy Birthdayyyyy BestPremduuu 💕
        </h1>

        <p class="message">
           It's funny to think that our friendship started back in 2022 with just
  simple conversations and random moments. At that time, we probably
  never imagined how important we would become in each others lives.
     </p>
        

        <p class="message">
          Ela baristunavo nu nannu asalu!😂😂😂😂. Hatss off! raa. Nilo una manchi quality ee ni patience.
          Ipati nunchi patience level penchukodaniki ready ga undu. In front there is crocodile festival🐊. 
          Toxic level increase chesthaa idhi na warning😂😂😂. But jokes apart, I really admire your patience and understanding nature.
         You have this amazing ability to stay calm and composed even in the most chaotic situations, and it's something I truly respect about you. 
         Niku oche wife chala luckyy roii🥳.
        </p>

         <p class="message">
         Inka cheppali ante nen eddi dani laga decisions teeskunte naku help chesthav chudu asalu . 
         I really appreciate how you always listen to me and give me the best advice.
         Intha kanna em kavali seppu. Inka cheppali ante, sorry ibandi pedtuna nenu prathisari ninnu edo oka vihsyam lo,barincha galgina shakti una vallake devudu responsibilities istharu..ah responsibilities lo one of the biggest responsibility is to deal with me😂😂😂.
         I might not always express myself in the best way, Anduke nuvve ardam chesko...mundhu choopu penchuko babu🙂‍↕️.
         Epatiki aina adhi abbaylaki chala aavasaram. 
        </p>

         <p class="message">
          To many more years of friendship, laughter, and unforgettable memories together!(Tdasthuu).
          Em avvali ana.. adhi ni chethilone unayyii.
          Inkaa ante lopalaa... chala unay..click below button for more surprises😎.
          </p>

        <button routerLink="/gallery" class="memory-btn">
         Let's Relive a Few Special Moments Together💫❤️
        </button>

      </div>

    </div>

  </div>

  
  <button *ngIf="!isOpen" class="open-btn" (click)="openLetter()">
    Open Letter😁❤️
  </button>

</div>