<div class="birthday-container">
<!-- <h2 class="page-title">A Veryyy Happyyyy Birthdayyyy To Youuuuuuu 🎉</h2  > -->
  <!-- floating balloons -->
    <p  *ngIf="!isOpen" class="hint-text">
    A little surprise is waiting for you ✨
  </p>
  <div class="balloons">
    <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
     <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
     <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
    <span>🎈</span>
  </div>

  <!-- floating hearts -->
  <div class="hearts">
    <span>❤️</span>
    <span>❤️</span>
    <span>❤️</span>
      <span>❤️</span>
    <span>❤️</span>
    <span>❤️</span>
      <span>❤️</span>
    <span>❤️</span>
    <span>❤️</span>
  </div>

  <!-- floating party poppers -->
  <div class="party">
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
    <span>🎉</span>
  </div>
  <div class="sparkles">
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
  <span>✨</span>
</div>

<div class="cakes">
  <span>🎂</span>
  <span>🎂</span>
</div>

  <div class="wrapper">
   

    <div class="envelope" [class.open]="isOpen">

      <div class="flap"></div>

      <div class="letter">

        <h1 class="title">
          🎂 Happyyyy Birthdayyyyy BestPremduuu 💕
        </h1>

        <p class="message">
          From the moment we became friends, life has been so much brighter.
          All the random conversations, the endless laughter, the silly moments,
          and the times we supported each other through everything — those
          memories mean the world to me ❤️
        </p>

        <p class="message">
          This little website is just a small reminder of how special you are
          and how grateful I am to have you in my life. Thank you for being
          such an amazing friend and making even the ordinary days feel
          extraordinary 💖
        </p>

        <button routerLink="/gallery" class="memory-btn">
          View Our Memories
        </button>

      </div>

    </div>

  </div>

  
  <button *ngIf="!isOpen" class="open-btn" (click)="openLetter()">
    Open Letter😁❤️
  </button>

</div>